@import url('https://fonts.googleapis.com/css?family=Montserrat');

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  font-family: Montserrat, sans-serif;
}

main section {
  margin: 30px auto;
}

.ant-layout.ant-layout-has-sider {
  main img {
    margin-left: -34px;
  }
}

h1, h2, h3 {
  font-weight: 600;
  color: #1d314f;
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 22px;
  line-height: 27px;
}

h3 {
  font-size: 14px;
  line-height: 120%;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.mobile-page {
  width: 375px;
  img {
    margin-left: -20px;
  }
}

.hello {
  background: linear-gradient(270deg, rgba(77, 164, 242, 0.3) 0%, #4DA4F2 100%), #6AC4FF;
  border-radius: 0;
  color: white;
  padding: 24px;

  h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
    padding-left: 24px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
    padding-left: 24px;
  }
}

.scrollbar {
  max-width: 350px;
  overflow-x: scroll;
}

.site-layout-background {
  background: #fff;
}
.layout-content {
  padding: 24px;
}

.layout-br-top {
  border-radius: 30px 30px 0 0;
  margin-top: -24px;
  margin-bottom: 30px;
}

.ant-menu.invert {
  background: transparent !important;
  margin-bottom: 10px;
  border-bottom: none;

  .ant-menu-item {
    background: transparent !important;
    color: #fff !important;
    opacity: 0.8 !important;

    a {
      color: #fff !important;
    }
  }
  .ant-menu-item-selected, .ant-menu-item-active {
    opacity: 1 !important;
    border-color: #fff !important;
  }
}